<!DOCTYPE html>
{% extends 'base.html' %} {% load crispy_forms_tags %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile page</title>
    </head>

    <body>
        {% block content %}
        <div class="container">
            <p class="lead">Enter Your Details in the form given below</p>
        </div>
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit">submit</button>
            </form>
        </div>
        {% endblock content %}
    </body>

</html>
